appnope==0.1.2
backcall==0.2.0
blis==0.7.5
catalogue==2.0.6
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
cycler==0.11.0
cymem==2.0.6
debugpy==1.5.1
decorator==5.1.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
entrypoints==0.3
et-xmlfile==1.1.0
Flask==2.0.2
Flask-Cors==3.0.10
fonttools==4.28.3
gensim==4.1.2
gunicorn==20.1.0
idna==3.3
ipykernel==6.6.0
ipython==7.30.1
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
jupyter-client==7.1.0
jupyter-core==4.9.1
kiwisolver==1.3.2
langcodes==3.3.0
llvmlite==0.37.0
MarkupSafe==2.0.1
matplotlib==3.5.0
matplotlib-inline==0.1.3
murmurhash==1.0.6
nest-asyncio==1.5.4
nltk==3.6.5
numba==0.54.1
numpy==1.20.3
openpyxl==3.0.9
packaging==21.3
pandas==1.3.4
parso==0.8.3
pathy==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
plotly==5.4.0
preshed==3.0.6
prompt-toolkit==3.0.24
ptyprocess==0.7.0
pydantic==1.8.2
Pygments==2.10.0
pymed==0.8.9
pynndescent==0.5.5
pyparsing==3.0.6
python-dateutil==2.8.2
pytz==2021.3
pyzmq==22.3.0
regex==2021.11.10
requests==2.26.0
scikit-learn==1.0.1
scipy==1.7.3
setuptools-scm==6.3.2
six==1.16.0
sklearn==0.0
smart-open==5.2.1
spacy==3.2.1
spacy-legacy==3.0.8
spacy-loggers==1.0.1
srsly==2.4.2
tenacity==8.0.1
textblob==0.17.1
thinc==8.0.13
threadpoolctl==3.0.0
tomli==1.2.2
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
typer==0.4.0
typing_extensions==4.0.1
umap==0.1.1
umap-learn==0.5.2
urllib3==1.26.7
wasabi==0.9.0
wcwidth==0.2.5
Werkzeug==2.0.2
