.gridContainer{
    display: grid;
}
.gridItem{
    grid-row-start: 1;
}
.graphContainer{
    height: 100%;
    width: 100%;
}
circle:hover {
    color: red;
    fill: red;
    cursor: crosshair;
}
.exportButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}