.sidebar{
    border-top: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    height: 100%;
    grid-area: left;
    position: relative;
    overflow-x: hidden;
    overflow-wrap: normal;

}


.fileListEntry{
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header3{
    margin-top:10px !important
}


.file-list-label{
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pane{
    border:none !important;
}


.buttonText{
    color:black !important;
}


.fileList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: visible;
}

.scriptArgsTab{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: visible;
}

.spacing{
    margin-bottom: 10px
}

.sidebar a.item {
    width: 120px !important;
    border-bottom: 1px solid #dcdcdc !important;
}

.sidebar .ui.tabular.menu .active.item {
    border-top: none !important;
    border-radius: 0 !important;
}