.sidebar{
    border: solid;
    border-width: 2px;
    border-left: 0px;
    height: 100%;
    grid-area: left;
    position: relative;
    overflow-x: hidden;
    overflow-wrap: normal;

}

.file-list-checkbox{
}

.fileListEntry{
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.file-list-label{
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pane{
    border:none !important;
    height: 96%
}

.buttonText{
    color:black !important;
}

.fileList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.scriptArgsTab{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}