.App {
  text-align: center;
}


.main{
  height: 100%;
  width: 100%
}

html, body {
  margin: 0;
  height: 100%;
}

.main-content{
  grid-template-areas: "header header header"
                        "left main right"
                        "footer footer footer";
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 10% 90%;
  background: grey;
}
