.left-sidebar {
    border-top: 1px solid #dcdcdc;
    grid-area: left;
}

.sidebar{
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-wrap: normal;

}

.fileListEntry{
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header3{
    margin-top:10px !important
}

.ui.header:first-child {
    margin-top: 20px !important;
}


.file-list-label{
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pane{
    border:none !important;
}


.buttonText{
    color:black !important;
}


.fileList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: visible;
}

.scriptArgsTab{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: visible;
}

.spacing{
    margin-bottom: 10px
}

.sidebar a.item {
    width: 140px !important;
    border-bottom: 1px solid #dcdcdc !important;
}

.sidebar .ui.tabular.menu .active.item {
    border-top: none !important;
    border-radius: 0 !important;
}

.button {
    border-radius: 8px !important;
}

.action {
    margin-top: 20px !important;
}

.InputPanelContainer {
    margin: 0 auto;
    width: 260px;
}

.acknowledgements {
    width: 400px;
}

.spacing {
    margin: 12px 0;
}

.ui.fluid.dropdown {
    display: inline-block !important;
    max-width: 210px;
    min-width: 160px !important;
}

.ui.input>input[type="text"], .ui.input>input[type="number"] {
    width: 210px;
}








/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 
	  opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		-webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	-moz-transition:    
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		-moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	transition:         
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 200px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
  white-space: pre-wrap !important;
}






#drawer-toggle { 
    position: absolute; 
    opacity: 0; 
}

#drawer-toggle-label { 
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    left: 0px; 
    height:50px; 
    width: 50px; 
    display: block; 
    position: fixed; 
    background: rgba(255,255,255,.0); 
    z-index: 1; 
} 

/* adds our "hamburger" menu icon */ 

#drawer-toggle-label:before { 
    content: ''; 
    display: block; 
    position: absolute; 
    height: 2px; 
    width: 24px; 
    background: #8d8d8d; 
    left: 13px; 
    top: 18px; 
    box-shadow: 0 6px 0 #8d8d8d, 0 12px 0 #8d8d8d; 
} 

#drawer { 
    position: fixed; 
    top: 0; 
    left: -590px; 
    height: 100%; 
    width: 590px;
    background: #FFF;
    overflow-x: hidden; 
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; 
    z-index: 1;
} 

/* checked styles (menu open state) */ 

#drawer-toggle:checked ~ #drawer-toggle-label { 
    height: 100%; 
    width: calc(100% - 590px);
} 

#drawer-toggle:checked ~ #drawer-toggle-label { 
    left: 590px; 
} 

#drawer-toggle:checked ~ #drawer { 
    left: 0px; 
}