.sidebar{
    border-top: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    height: 100%;
    grid-area: left;
    position: relative;
    overflow-x: hidden;
    overflow-wrap: normal;

}


.fileListEntry{
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header3{
    margin-top:10px !important
}


.file-list-label{
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pane{
    border:none !important;
}


.buttonText{
    color:black !important;
}


.fileList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: visible;
}

.scriptArgsTab{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: visible;
}

.spacing{
    margin-bottom: 10px
}

.sidebar a.item {
    width: 140px !important;
    border-bottom: 1px solid #dcdcdc !important;
}

.sidebar .ui.tabular.menu .active.item {
    border-top: none !important;
    border-radius: 0 !important;
}

.button {
    border-radius: 8px !important;
}

.action {
    margin-top: 20px !important;
    width: 50% !important;
}

.InputPanelContainer {
    margin: 0 auto;
    width: 260px;
}

.acknowledgements {
    width: 400px;
}

.spacing {
    margin: 12px 0;
}

.ui.fluid.dropdown {
    display: inline-block !important;
    max-width: 210px;
    min-width: 160px !important;
}

.ui.input>input[type="text"], .ui.input>input[type="number"] {
    width: 210px;
}

.COElogo{
    padding: 10px;
    width: 100%;
    height: auto;
}

.CSlogo{
    width: 50%;
    height: auto;
}

.NLPlogo{
    padding: 10px;
    width: 50%;
    height: auto;
}