.main-wrapper{
    text-align: center;
    grid-area: main;
    border-top: 1px solid #dcdcdc;
    height: 100%;
    width: 100%
}

.main{
    width: 100%;
    height: 100%
}

.tabs{
    border: 0px;
}

.fullWindow{
    height: 100%;
    width: 100%;
}

#graphTabs {
    margin: 20px 0 0;
}

.menu {
    border: none !important;
}

a.item {
    width: 20% !important;
    border: 1px solid #d4d4d5;
    border-radius: 0 !important;
}

a.item:first-child {
    border-right: none;
}

.ui.pointing.menu .active.item:after {
    display: none;
}

#dfSelectContainer {
    margin: 10px 0 30px;
}

#dfSelectContainer input[type="radio"] {
    position: relative;
    top: 2px;
    left: 5px;
}

.ui.segment {
    border-bottom: none !important;
}