

.gridContainer{
    display: grid;
}
.gridItem{
    grid-row-start: 1;
}
.graphContainer{
    height: 100%;
    width: 100%;
}

.exportButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

